#About .bg-light {
  color: var(--theme-light-text);
  background: linear-gradient(90deg, var(--theme-light-begin) 0%, var(--theme-light-end) 100%);
}

[data-theme='dark'] #About .bg-light{
  color: var(--theme-dark-text)!important;
  background: linear-gradient(90deg, var(--theme-dark-begin) 0%, var(--theme-dark-end) 100%);
}


#About .card {
  color: var(--theme-light-text);
  background: linear-gradient(90deg, var(--theme-light-begin) 0%, var(--theme-light-end) 100%);
}

[data-theme='dark'] #About .card{
  color: var(--theme-dark-text)!important;
  background: linear-gradient(90deg, var(--theme-dark-begin) 0%, var(--theme-dark-end) 100%);
}