.certification-image-container {
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  height: 250px; /* Set a fixed height */
  border-radius: 10px; /* Optional: Adds rounded corners to the container */
  overflow: hidden; /* Hide the overflow */
}

[data-theme='dark'].certification-image-container{
  background-color: white !important; /* In case the image is transparent */
}

.certification-image {
  max-height: 230px;
  max-width: calc(100% - 20px);
  object-fit: contain;
  z-index: 1; /* Ensure the image is above the pseudo-element */
}

.card-progress-container {
  position: absolute; /* Absolute positioning relative to the card */
  left: 10px; /* Align with the left edge of the card */
  right: 10px; /* Align with the right edge of the card */
  bottom: 10px; /* Position it 10px from the bottom */
}
