@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Base Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover, a:focus {
  color: var(--secondary-color);
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #3498db; /* Kept original color for primary */
  --secondary-color: #9b59b6; /* Adjusted for a subtle purple as secondary for a dark theme contrast */
  --light-bg: #f8f9fa; /* Typically the color for bg-light in Bootstrap */
  --dark-text: #343a40; /* Typically the color for text-dark in Bootstrap */
}

.bg-light {
  background-color: var(--light-bg) !important;
}

.text-dark {
  color: var(--dark-text) !important;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}